<div class="container">
  <button mat-fab color="primary" matTooltip="Öğrenci Ekle" (click)="Ekle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
  <p>&nbsp;</p>
</div>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="ogrtAdsoyad">
    <mat-header-cell *matHeaderCellDef> Adı Soyadı
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.ogrtAdsoyad}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="islemler">
    <mat-header-cell *matHeaderCellDef> İşlemler
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> 
      <button mat-icon-button matTooltip="Düzenle" (click)="Duzenle(kayit)">
        <mat-icon aria-label="label">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Sil" (click)="Sil(kayit)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>
    
    </mat-cell>
  </ng-container>

  a-md-data-table-column
  <!-- press ctrl + space to add more column snippet or delete this line -->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


