<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
   
      <mat-label>Ders Kodu</mat-label>
      <input matInput placeholder="Ders Kodu" formControlName="dersKodu" name="dersKodu" required type="text">
    </mat-form-field> 

    <mat-form-field appearance="outline">
   
      <mat-label>Ders Adı</mat-label>
      <input matInput placeholder="Ders Adı" formControlName="dersAdi" name="dersAdi" required type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
   
      <mat-label>Ders Kredisi</mat-label>
      <input matInput placeholder="Ders Kredisi" formControlName="dersKredi" name="dersKredi" required type="text">
    </mat-form-field>

  </form>
  <button mat-raised-button color="primary" (click)="this.dialogRef.close(frm.value)" [disabled]="frm.invalid">Kaydet</button>&nbsp;
  <button mat-raised-button color="warn" (click)="this.dialogRef.close()">Vazgeç</button>
</div>